.button {
  background: #fb0905;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  padding: 25px;
  margin: 4px;
  margin-bottom: 4px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-family: sans-serif;
}

.button:hover {
  background-color: #f58d0a;
  transition: 0.5s;
}
